<div id="header" class="left">

        <!--UFS banner-->
		<div>
   		<img class="UFS-banner left" src="images/UNSW_Tennis_Club.png"

        title="UNSW Tennis Club banner" alt="UNSW Tennis Club banner"/></div>

	 	<!--Top navigation second-->

        <div class="top-nav-second left">

        	<ul class="horizontal"> 

              	<li><a href="http://www.unsw.edu.au/" target="_blank"><span>UNSW</span></a></li>

                <li><a href="about.html"><span>About Us</span></a></li>

                <li><a href="contact.html"><span>Contact Us</span></a></li>

   	 	  </ul>

      	</div>
		<!--END OF Top navigation second-->  

		

        <!--Top navigation first-->

      	<div class="top-nav-first left">

       		<ul class="horizontal"> 

              	<li><a href="index.html"><span>Home</span></a></li>

                <li><a href="socialtennis.html"><span>Social Tennis</span></a></li> 

              	<li><a href="articles.html"><span>Articles</span></a></li> 

                <li><a href="clubchampionships.html"><span>Club Championships</span></a></li> 

            	<li><a href="gallery.html"><span>Gallery</span></a></li>
				
				<li><a href="signup.html"><span>Sign Up</span></a></li>
			</ul>
      	</div>

      	<!--END OF TOP NAV FIRST-->

    </div>