<div class="sidebar left"> 
    <div class="title-sidebar">Home</div>
    <div class="sidebar-content firstbar"> 
      <ul class="listing">
        <li><a href="pastchampions.html">Past Champions</a></li>
        <li><a href="http://twitter.com/unswtennis" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/groups/2369373923/" target="_blank">Facebook</a></li>
      </ul>
    </div>
    <div class="sidebar-content secondbar"> 
      <div class="act-btn-container sm-txt-btn"> </div>
    </div>
    <div class="sidebar-content lastbar"> 
      <div class="act-btn-container guide-btn"> </div>
      <!--Information in Other Languages-->
      <div class="sidebar-content slide-content"> 
        <div class="act-btn-container info-btn"> </div>
      </div>
      <!--END OF Information in Other Languages-->
    </div>
  </div>