<div class="sidebar left"> 
    <div class="title-sidebar">Quicklinks</div>
    <div class="sidebar-content firstbar"> 
      <ul class="listing">
        <li><a href="socialtennis.html">Social Tennis</a></li>
        <li><a href="reccourse.html#rec-course">Beginner's Coaching Class</a></li>
        <li><a href="tournaments.html">Tournaments</a></li>
        <li><a href="stringing.html">Stringing Service</a></li>
      </ul>
    </div>
    <div class="sidebar-content secondbar"> 
      <div class="act-btn-container sm-txt-btn"> </div>
       <ul class="listing">
        <li><a href="committee.html">Our Committee</a></li>
        <li><a href="http://twitter.com/unswtennis" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/groups/2369373923/" target="_blank">Facebook</a></li>
      </ul>
    </div>
    <div class="sidebar-content lastbar"> 
      <div class="act-btn-container guide-btn"> </div>
      <!--Information in Other Languages-->
      <div class="sidebar-content slide-content"> 
        <div class="act-btn-container info-btn"> </div>
      </div>
      <!--END OF Information in Other Languages-->
    </div>
  </div>