<table border="0" width="840" cellpadding="0" cellspacing="0">
				<tr><td align="center" valign="middle"><br><br><img src="/images/lineonsponsor.jpg"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td class="font_footer" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/index.html" class="bottom_link">Home</a>
				&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="/pages/socialtennis.html" class="bottom_link">Social Tennis</a>
				&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="/pages/articles.html" class="bottom_link">Articles</a>
				&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="/pages/clubchamps/clubchamps.html" class="bottom_link">Clubchamps</a>
				&nbsp;&nbsp;&nbsp;|				
				&nbsp;&nbsp;&nbsp;<a href="/pages/tournaments.html" class="bottom_link">Tournaments</a>
				&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="/pages/multimedia.html" class="bottom_link">Multimedia</a>
				&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="/pages/about.html" class="bottom_link">About Us</a>
				&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="/pages/contact.html" class="bottom_link">Contact Us</a>
				&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="http://twitter.com/unswtennis" target="_blank"><b>UNSW Tennis on Twitter</b></a>
				</td></tr>
				<tr><td class="font_footer" align="center"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright&copy;2010 University of New South Wales Tennis Club. All Rights Reserved.</td></tr>
			</table>