<table  border="0" width="840" height="25" cellpadding="0" cellspacing="0" background="/images/blank.jpg">
						<tr valign="middle">
							<td width="10">&nbsp;</td>
							<td width="50"><a href="/index.html" class="top_links">HOME</a></td>							
							<td width="131"><a href="/pages/socialtennis.html" class="top_links">SOCIAL TENNIS</a></td>
							<td width="75"><a href="/pages/articles.html" class="top_links">ARTICLES</a></td>
							<td width="98"><a href="/pages/clubchamps/clubchamps.html" class="top_links">CLUBCHAMPS</a></td>
							<td width="109"><a href="/pages/tournaments.html" class="top_links">TOURNAMENTS</a></td>							
							<td width="96"><a href="/pages/multimedia.html" class="top_links">MULTIMEDIA</a></td>
							<td width="83"><a href="/pages/about.html" class="top_links">ABOUT US</a></td>
							<td width="90"><a href="/pages/contact.html" class="top_links">CONTACT US</a></td>
							<td width="203">&nbsp;</td>
						</tr>
						</table>